@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');

:root{
    --global-font-family: 'Nunito Sans', sans-serif;
    
    --heavy-blue: #B4D5F6;
    --light-blue: #E9F4FF;
    --very-light-blue: #F4F6FE;
    --Blue-default: #4361EE;
    --very-dark-purple: #03071B;

    --grid-gap: 30px;
}

* { /* CSS Reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------- body/Balises génériques -------------------------- */

body{ 
    color: black;
    background-color: white;
    font-family: var(--global-font-family);
    width: 100%;
}

h2{
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

h3{
    font-weight: 400;
    font-size: 20px;
}

button{
    font-size: 18px;
    padding: 16px 34px;
    border-radius: 8px;
    border: none;
    background-color: var(--Blue-default);
    color: white;
    font-family: var(--global-font-family);
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 6px;
}

.div_crafting,
.div_services,
.div_contact_formulaire {
    background-color: var(--light-blue);
}

/* ----------------------------------------------- HEADER ---------------------------------------------- */

.div_header{ 
    display: flex;
    justify-content: space-between;
    margin-left: 135px;
    margin-right: 135px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* ----------------------------------------------- DIV 1 ---------------------------------------------- */

.div_crafting{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 160px 54px 160px 135px;
    gap : 60px;
}

.div_crafting h2{
    text-align: left;
}

.div_crafting_photo img{
    border-radius: 15px;
    position: absolute;
    transform: translate(67px, -91px);
    width: 37vw;


}

/* ----------------------------------------------- DIV 2 ---------------------------------------------- */

.div_elevate{
    text-align: center;
    padding-top: 130px;
}

.div_elevate h3{
    background-color: white;
    text-align: center;
}

.div_elevate h2{
    margin-bottom: 35px;
}

.div_elevate p{
    font-weight: 400;
    margin-bottom: 47px;
    font-size: 20px;
    text-align: justify;
    padding-right: 135px;
}

.div_elevate_img_txt{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.div_elevate_img img{
    border-radius: 30% 70% 49% 51% / 55% 37% 63% 45%;
    box-shadow: 8px 8px var(--light-blue);
    margin: 47px 56px 90px 29px;
}

/* ----------------------------------------------- DIV 3 ---------------------------------------------- */

.div_services{ 
    text-align: center;
    padding-top: 80px;
}

.div_services h2{
    margin-bottom: 80px;
}

.div_services button{
    display: flex;
    align-items: center;
}

.Services_button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 60px;
    padding-bottom: 80px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding-left: 135px;
    padding-right: 135px;
}

.image-container {
    position: relative;
    border-radius: 8px;
    height: 321px;
    background-repeat: no-repeat;
}

.overlay-image {
    position: absolute;
}

.overlay-image-image {
    position: absolute;
}

.background-image, .overlay-image {
    max-width: 100%;
    display: block;
}

.section_infos{
    gap:14px;
    flex-direction: column; 
    margin-left: 30px;
    margin-bottom: 33px; 
}

.infos{
    margin-left: 30px;
    transform: translateY(-109px);
}

.position{
    position: absolute;
    transform: translateX(25%);
}
.position_section_infos{
    display: flex;
    align-items: flex-end;
}

.section_icons{
    display: flex;
    align-items: center;
    gap: 14px; 
    color: white;
    font-weight: 700;
    margin-bottom: 16px;
}

.section_icons p{
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.section_button button{
    background-color: transparent;
    padding: 0px;
    font-size: 16px;
    font-weight: 400;
}

/* Background des div */

.background1 {
    background-image: url(images/Rectangle\ 34625252.svg);
}
.background2 {
    background-image: url(images/Rectangle\ 34625257.svg);
}
.background3 {
    background-image: url(images/Rectangle\ 34625258.svg);
}
.background4 {
    background-image: url(images/Rectangle\ 34625259.svg);
}
.background5 {
    background-image: url(images/Rectangle\ 34625260.svg);
}
.background6 {
    background-image: url(images/Rectangle\ 34625261.svg);
}
.background7 {
    background-image: url(images/Rectangle\ 34625262\ \(1\).svg);
}
.background8 {
    background-image: url(images/Rectangle\ 34625263.svg);
}

/* ----------------------------------------------- DIV 4 ---------------------------------------------- */

.div_happy h2{
    margin-top: 130px;
    margin-bottom: 82px;
}
.div_carrousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}

.carousel-container {
    position: relative;
    width: 70%;
    text-align: center;
  }
  
.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}
  
.slide {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    background-color: var(--very-light-blue);
    border-radius: 8px;
}
  
.slide img {
    max-width: 100%;
    border-radius: 30% 70% 49% 51% / 55% 37% 63% 45%;
    box-shadow: 8px 8px var(--heavy-blue);
    margin: 20px 26px 20px 30px;
 }
  
 .slide p {
    margin: 10px 37px;
    text-align: left;
    line-height: 170%;
}
  
.carrous_button button {
    cursor: pointer;
    padding: 20px;
    border-radius: 50%;
    border: none;
    background-color: var(--very-light-blue)
}

.icon{
    width: 15px;
} 

.prev {
    position: absolute;
    top: 50%;
    left: -15%;
    transform: translateY(-50%);
}

.next {
    position: absolute;
    top: 50%;
    right: -15%;
    transform: translateY(-50%);
}

/* ----------------------------------------------- DIV 5 ---------------------------------------------- */

.div_contact_formulaire{
    display: flex;
    gap: 312px;
    padding: 142px 135px 136px 135px;
    position: relative;
    margin-bottom: 130px;
}

.Contact{
    margin-bottom: 40px;
}

.icon_contact{
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon_contact h4{
    font-size: 24px;
    font-weight: 400;
}

.icon_contact_text p{
    padding-left: 52px;
}

/* Formulaire*/

.div_formulaire{
    border-radius: 8px;
}

form{
    position: absolute;
    background-color: white;
    font-family: var(--global-font-family);
    padding: 40px;
    border-radius: 8px;
    width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
}

form button{
    margin-top: 30px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0px;
}

/* ----------------------------------------------- DIV 6 ---------------------------------------------- */

.div_stay h2{
    margin-bottom: 130px;
}

.div_blog_images{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.block_images{
    background-color: var(--light-blue);
}

.block_images p{
    text-align: left;
    font-size: 23px;
    padding: 24px 30px 20px 30px;
}

.block_images button {
    background-color: transparent;
    padding-left: 30px;
}

.block_images button p{
    color: var(--Blue-default);
    font-size: 16px;
    font-weight: 400;
    padding: 0;
}


/* ----------------------------------------------- FOOTER ---------------------------------------------- */

footer{
    background-color: var(--very-dark-purple);
    color: white;
}

.div_footer{
    display: flex;
    justify-content: space-between;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 60px;
}

.div_footer_contact h4, 
.div_footer_explore h4,
.div_subscription h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer_icon_contact,
.div_footer_explore p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.logo_principal{
    padding-bottom: 30px;
}

.footer_icon_contact{
    display: flex;
    align-items: center;
    gap: 16px;
}

.div_subscription button{
margin-top: 20px;
}

.div_subscription p{
    font-size: 13px;
}

/* ----------------------------------------------- RESPONSIVE ---------------------------------------------- */

@media (max-width: 768px) {

    .div_elevate_img_txt{
        display: block;
    }

    .image-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }
    
    .image-container:nth-child(odd) {
        display: none;
    }

    .slide {
        flex-direction: column;
    }

    .slide p{
        text-align: center;
    }

    .div_contact{
        display: flex;
        flex-wrap: wrap;
    }

    .div_contact_formulaire{
        display: flex;
        padding: 65px 99px 442px 99px;
        flex-direction: column;
        gap: 50px;
    }
    
    .div_blog_images:nth-child {
        display: none;
    }
    

}


